body {
  /* margin: .5em; */
  font-family: 'Helvetica', 'Arial', sans-serif;
  /* margin-right: auto;
  margin-left: auto; */
}

@media print {
  #palette {
     display: none;
  }
}

h2{
  margin: .5em;
  font-size: medium;
}

#details {
  text-align: center;
  width: 100%;
}

#details input[type="text"] {
  border: 0;
  border-bottom: solid 1px;
  font-size: 1em;
}

.details {
  padding-left: 16px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  margin: .5em;
}

table input[type="text"] {
  border: 0;
  border-bottom: solid 1px;
  background: transparent;
  width: 99%;
  height: 100%;
  font-size: 1em;
}

input[type="text"]:focus {
    outline: none;
}

td {padding-bottom: 10px;}

td.number {
  /* min-width: 20px; */
  text-align: right;
}

#stage {
  height: 420px;
  border: 1px solid;
  text-align: center;
  margin: .5em;
  /* max-width: 800px; */
}

textarea {
  /* max-width: 670px; */
  height: 100px;
  width: 100%;
  margin: .5em;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
